{% extends 'base.html' %} {% block content %}
<h2>Add a new team</h2>

<form action="{{ url_for('create') }}" method="POST">
  <p>

  </p>
  <label for="city">City:</label>
  <input id="city" name="city" type="text" placeholder="Enter a city" />

  <p>
    <label for="name">Team name:</label>
    <input id="name" name="name" type="text" placeholder="Enter a team name" />
  </p>

  <p>
    <label for="sport">Sport:</label>
    <input id="sport" name="sport" type="text" placeholder="Enter a sport" />
  </p>

  <p>
    <button type="submit">Add your team</button>
  </p>

</form>
<p>

  <a href="{{ url_for('index') }}">Return to the main list.</a>
</p>

{% endblock %}