{% extends 'base.html' %} {% block content %}

<p>

  "Board the Millennium {{ animal }} and {{ verb1 }} to a {{ noun1 }} far, far away in {{ name1 }}: A {{ noun2 }} Wars Story,
  an all-new adventure with the most {{ adj1 }} scoundrel in the galaxy. Through a series of daring {{ plural_noun }} deep
  within a {{ adj2 }} and {{ adj3 }} criminal underworld, Han {{ name1 }} meets his {{ adj4 }} future co-{{ job }} Chewbacca
  and encounters the {{ adj5 }} gambler {{ name2 }} Calrissian, in a journey that will {{ verb2 }} the course of one of the
  {{ noun2 }} Wars saga's most {{ adj6 }} heroes."

</p>


{% endblock %}