{% extends 'base.html' %} {% block content %}

<h1>{{ msg.user.first_name }} {{ msg.user.last_name }} corrects the record:</h1>

<form action="{{url_for('msgs_show', msg_id=msg.id)}}?_method=PATCH" method="POST">
  <p>

    <textarea name="content" id="content" rows="10" cols="40" placeholder="Write something here">{{ msg.content }}</textarea>
  </p>

  {% for tag in tags %}
  
  <input type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" name="tags" 
  {% if tag in msg.tags %} 
  checked 
  {% endif %}>
  
  <label for="tag_{{ tag.id }}">{{ tag.tagname }}</label>

  {% endfor %}

  <button type="submit">So speaks {{ msg.user.first_name }} {{ msg.user.last_name }}</button>

</form>

<a href="{{ url_for('msgs_index', user_id=msg.user.id) }}">Return to your list of messages.</a>

{% endblock %}