{% extends 'base.html' %}
{% block content %}

<h1>The wisdom of {{ user.first_name }} {{ user.last_name }}</h1>
  

  {% for msg in user.msgs %}
  <p class="pearl">
    <a href="{{url_for('msgs_show', msg_id=msg.id)}}">
      "{{ msg.content }}"
    </a>

  </p>

  {% endfor %}

<p>
  <a href="{{url_for('msgs_new', user_id=user.id)}}">Add a new quote from {{ user.first_name }} {{ user.last_name }}</a> 🐾 
<a href="{{url_for('users_show', user_id=user.id)}}">
  Return to their profile
</a>

</p>
{% endblock %}