{% extends 'base.html' %} {% block content %}

<h1>{{ user.first_name }} {{ user.last_name }} speaks:</h1>

<form action="{{url_for('msgs_index', user_id=user.id)}}" method="POST">
<p>
  
  <textarea name="content" id="content" rows="10" cols="40" placeholder="Write something here"></textarea>
</p>


{% for tag in tags %}

<input type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" name="tags">
<label for="tag_{{ tag.id }}">{{ tag.tagname }}</label>

{% endfor %}



  <button type="submit">So speaks {{ user.first_name }} {{ user.last_name }}</button>




</form>
<hr>
<a href="{{ url_for('msgs_index', user_id=user.id) }}">See all wisdom of {{ user.first_name }} {{ user.last_name }}</a>

{% endblock %}