{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <h1>{{ pet.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="card p-3 mb-3 col-12 col-md-6 col-lg-4 col-xl-3">
       {% if pet.age %}
      <p class="m-0">Age: {{ pet.age }}</p>
      {% endif %} {% if pet.species %}
      <p class="m-0">Species: {{ pet.species }}</p>
      {% endif %}
      <hr>
      <form action="{{ url_for('show', pet_id=pet.id) }}" method="POST">

          {{ form.hidden_tag() }} 
          
          {% for field in form if field.widget.input_type != 'hidden' %}
          <div class='form-group'>
              {{ field.label }}
              {{ field(class="form-control") }}
              <span>
                {% if field.errors %}
                  {% for error in field.errors %}
                    <b class="text-danger">{{ error }}</b>
                  {% endfor %}
                {% endif %}
              </span>
            </div>
          {% endfor %}
          <button class="btn btn-primary" type="submit">Update</button>
        
        </form>
    </div>
    <div class="card p-0 mb-3 col-12 col-md-6 col-lg-4 col-xl-3">
      {% if pet.photo_url %}
      <img class="img-responsive image-profile" src="{{ pet.photo_url }}"> {% else %}
      <img class="img-responsive image-profile" src="https://openclipart.org/download/283092/polite.svg"> {% endif %}

    </div>
  </div>

  





</div>

<hr>
<div class="container">
    <div class="row">
      <div class="col-12 mt-3">
        <a href="/"><h3>Return to main page</h3></a>
      </div>
    </div>
  </div>

{% endblock %}