.Footer {
  background-color: #333333;
  padding: 20px 50px 50px 50px;
}

.Footer img {
  height: 30px;
  width: auto;
  margin: 0 10px 0 10px;
}

.Footer p {
  text-align: left;
  color: white;
}

.Footer > div {
  display: flex;
  justify-content: space-between;
}
