{% extends 'base.html' %} {% block content %}

{% for flash in get_flashed_messages() %}
<div>
  <h5>{{ flash }}</h5>
</div>
{% endfor %}

<h1>Add a new philosopher</h1>

<form action="{{ url_for('users_create') }}" method="POST">
  <p>

    <label for="first_name">First name:</label>
    <input id="first_name" name="first_name" type="text" placeholder="User's first name" />
  </p>

  <p>
    <label for="last_name">Last name:</label>
    <input id="last_name" name="last_name" type="text" placeholder="User's last name" />
  </p>

  <p>
      <label for="image_url">Headshot:</label>
      <input id="image_url" name="image_url" type="text" placeholder="Image URL" />
    </p>
  

  <p>
    <button type="submit">Create new philosopher</button>
  </p>

</form>
<p>

</p>

{% endblock %}