{% extends 'base.html' %} {% block content %} {% for flash in get_flashed_messages() %}
<div>
  <h5>{{ flash }}</h5>
</div>
{% endfor %}

<h1>Create a new account</h1>

<form action="{{ url_for('register') }}" method="POST">
  <p>

    <label for="username">Username:</label>
    <input id="username" name="username" type="text" placeholder="Choose a username" />
  </p>

  <p>

    <label for="password">Password:</label>
    <input id="password" name="password" type="password" placeholder="Choose a password" />
  </p>


  <p>

    <label for="first_name">First name:</label>
    <input id="first_name" name="first_name" type="text" placeholder="Your first name" />
  </p>

  <p>
    <label for="last_name">Last name:</label>
    <input id="last_name" name="last_name" type="text" placeholder="Your last name (optional)" />
  </p>

  <p>
    <label for="image_url">Headshot:</label>
    <input id="image_url" name="image_url" type="text" placeholder="URL of your profile pic (optional)" />
  </p>


  <p>
    <button type="submit">Register</button>
  </p>

</form>
<p>

</p>

{% endblock %}