p,
h1,
li {
  color: #263d42;
  font-family: 'Lato', sans-serif;
}

#content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#masthead {
  /* background-color: #8e6c88; */
  padding: 1vw;
  /* text-align: center; */
}

#siteTitle,
#tagline {
  color: #8e6c88;
  padding: 0;
  margin: 0;
}

#siteTitle {
  font-size: 6vw;
  font-family: 'Fredoka One', cursive;
}

#tagline {
  font-family: 'Lato', sans-serif;
  margin-top: 1em;
  font-size: 1.5vw;
}

.thinker {
  margin: 0.3em;
}

li {
  list-style: none;
}

a:link,
a:visited {
  color: #8e6c88;
}

a:hover,
a:active {
  color: #80ced7;
}

#flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imgbox {
  width: 400px;
}

img {
  width: 100%;
  height: 100%;
}

.wisdom {
  font-size: 1.5em;
  width: 400px;
}

#content textarea {
  margin: 0 auto;
  text-align: left;
}

.pearl {
  font-size: 1.15em;
}

.inline {
  display: inline-block;
}

#quoteimg {
  width: 200px;
  padding-left: 1em;
  margin-bottom: 3em;
}

#flexquote {
  display: flex;
  text-align: right;
  justify-content: center;
}
